


header{
  
  background: #000;
  
  .main-top-nav {
      background: #333;
      > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        max-width: 930px;
        margin: 0 auto;
        padding: 0 10px;
      }
  }
  
  .top-buttons {
    padding: 6px 30px;
    color: white;
    font-size: 14px;
    background: #333;
    margin-left: 1px;
    
    @media only screen and (max-width: 991px) { 
      padding: 6px 6px;
    }
    
}
  
  .btn-primary{
      background: #dd3857;
      border: none;
  }
  
  .search-button{
    color: white;
    
  }
  
  .navbar-nav{
    
    span{
      display: none;
    }
    
  }
  
  .navbar-expand-lg{
    .navbar-nav{
      .nav-link {
          padding-right: 20px;
          padding-left: 20px;
      }
      
      @media only screen and (max-width: 991px) { 
      
        .nav-link {
            text-align: center;
            padding: 10px 20px;
            width: 100%;
        }
        
        li + li {
          border-top: solid 1px #3b3b3b;
      }
      
      }
      
      
     
    }
  }
  
  .form-inline{
    
    input{
        border: 1px solid #393939;
        background-color: #323232;
        border-radius: 16px;
    }
    
    @media only screen and (max-width: 991px) {
      justify-content: center;
      input{
        width: 70%;
      }
      
      .btn-link{
        line-height: 0;
      }
    }
   
  }
  
}

.btn-primary{
  &:hover, &.active{
    background: #962238;
  }
}


.footer{
    background: #000;
}


.phone-alert{
  
display: flex;
align-items: center;
justify-content: flex-start;
width: 100%;
min-height: 350px;
padding: 40px;



background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);



@media only screen and (max-width: 991px) { //1280

padding: 40px 20px;
align-items: flex-start;
}

  .help-title{
    color: #7834f7;
    font-size: 40px;
    font-family: 'Conv_neo_sans_bold';
    line-height: 100%;
    
    @media only screen and (max-width: 991px) { 
    
      font-size: 34px;
    
    }
    
  }

  strong{
        font-family: 'Conv_neo_sans_bold';
    font-size: 28px;
    color: #444;
    margin-left: 5px;
    
    @media only screen and (max-width: 991px) {
    
      font-size: 24px;
      display: block;
    
    }
   
  }
  
  .phone {
      margin-bottom: 0;
  }
  
  img{
    max-width: 110px;
   width: 70%;
   margin: 0 auto;
display: block;

@media only screen and (max-width: 991px) { //1280

  max-width: 100px;

}

  }
  
 
    
}

