html, body{
  overflow-x: hidden;
}

/* Space out content a bit */
body {
  padding-top: 0.5rem;
  font-family: 'Conv_NeoSansStd Regular';
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.slick-dots {
  bottom: 0px;
}

.vtr-main-grid {
  img {
    width: 100%;
  }
}
/* Custom page footer */
.footer {
  padding: 1.5rem 0;
  color: #777;
  border-top: .05rem solid #e5e5e5;
  display: block;
}

.container-narrow > hr {
  margin: 2rem 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    // margin-bottom: 2rem;
  }
}
